.llul-bg-setting {
    margin-top: 0.5em;
}

.llul-bg-setting span {
    display: inline-block;
    margin: 0 0.5em;
    padding: 0.5em;
    outline: 1px solid black;
    cursor: default;
    user-select: none;
}

.llul-bg-setting label {
    user-select: none;
}

#llul-txt2img-mask,
#llul-img2img-mask {
    max-height: 4em;
    overflow: hidden !important;
}
