.llul-bg-setting {
    margin-top: 0.5em;
}

.llul-bg-setting span {
    display: inline-block;
    margin: 0 0.5em;
    padding: 0.5em;
    outline: 1px solid black;
    cursor: default;
    user-select: none;
}

.llul-bg-setting label {
    user-select: none;
}

#llul-txt2img-mask,
#llul-img2img-mask {
    max-height: 2em;
    overflow: visible;
}

.llul-pos input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid black;
    font-size: smaller !important;
    width: 8em;
    height: 1em;
    background-color: transparent;
    margin-right: 1em;
}

.dark .llul-pos input {
    border-bottom-color: white;
}
